@font-face {
  font-family: encodeSansSemiCondensed;
  src: url(./fonts/EncodeSansSC_SemiCondensed/EncodeSansSC_SemiCondensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: encodeSansSemiCondensed;
  src: url(./fonts/EncodeSansSC_SemiCondensed/EncodeSansSC_SemiCondensed-SemiBold.ttf);
  font-weight: 600;
}

/* 100 thin */
/* 200 xlight */
/* 300 light */
/* 400 regular */
/* 500 medium */
/* 600 sbold */
/* 700 bold */
/* 800 xbold */
/* 900 black */


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(20, 20, 19);
  color: rgb(238, 238, 238);
  display: flex;
  font-family: encodeSansSemiCondensed;
}

header {
  display: flex;
  width: 100%;
  height: 8vh;
  padding: 10px;
  background-color: rgb(63, 63, 46);
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 600;
  font-size: 3.5vw;
  letter-spacing: 2vw;
}

#logo_header {
  width: 8%;
  height: 150%;
}

.hidden-div {
  width: 5%;
  height: 5%;
  background-color: red;
  visibility: hidden;
}