/* @font-face {
  font-family: encodeSansSemiCondensedRegular;
  src: url(./styles/fonts/EncodeSansSC_SemiCondensed/EncodeSansSC_SemiCondensed-Regular.ttf);
}

/* 100 thin */
/* 200 xlight */
/* 300 light */
/* 400 regular */
/* 500 medium */
/* 600 sbold */
/* 700 bold */
/* 800 xbold */
/* 900 black */

* {
  margin: 0;
  padding: 0;
  background-color: #041834;
}

body {
  /* font-family: encodeSansSemiCondensedMedium; */
  color: #F2F2F2;
  height: 100px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

/* .App > * {
  background-color: aqua;
} */

.App-header {
  width: 70vw;
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #F2F2F2;
  background-color: transparent;
  text-decoration: none;
}
